

* {
    margin: 0;
    padding: 0;
    
    
}

body {
    background-color: white;
    margin: 0 16px;
}

.buscador {
    display: flex;
    background-color: rgba(128, 128, 128, 0.19);
    border-radius: 8px;
    margin: 15px;

}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:visited { 
    text-decoration: none; 
    
   }


.menu {
    margin: 15px;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}


.card {
       
    
    padding: 15px;
    border: white solid 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    margin: 15px;
    
}


.card-content {
display: flex;
flex-direction: row;
gap: 20px;
padding-bottom: 5px;
margin: 15px;


}



.icon {
    flex: 1;
    text-align: end;
}

.card-image {
    width: 100%;
    border-radius: 15px;
    
}

.buscador-input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding: 15px;
    
}

.icon-search {
   width: 50%;
   margin-top: 1rem;
   margin-right: 15px;
   flex: 1;
   justify-content: end;
}
.name_id {
    font-family: sans-serif;
    font-size: small;
    
    padding: 2px;
}

.name_id:nth-child(2) {

    font-weight: lighter;


}

.foto {
    margin-top: 8px;
    border-radius: 5px;
}

.animal-list {
    background-color: white;
    padding: 8px;
    padding-right: 17px;
    padding-left: 17px;    
    font-family: sans-serif;
    font-size: small;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
    display: flex;
}

.animal-list:hover {
    background-color: black;
    color: white;
}

.icon-animal {
    width: 20%;
    padding: auto;
    margin-right: 10px;
    
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    

}


@media (max-width: 600px) {
   
.container {
    display: flex;
    flex-direction: column;
    
}
}
    


